ul, li{
  list-style: none;
  display: inline;
  margin: 0;
  padding:0;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh auto;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  margin:0 5px;
}

.align-center{
  text-align: center;
}

.margin-auto-center{
  margin: 0 auto;
}

.grocery-list{
  width: minmax(50vw , 300px);
}